
app-slim-video-information-renderer {
  display: block;
  font-size: 12px;
  cursor: pointer;
}
.slim-video-metadata-header {
  margin: 0 3px 3px;
  width: 99%;
  width: calc(100% - 6px);
  text-align: initial;
}
.slim-video-metadata-header .slim-video-information-content {
  padding: 4px 13px 5px;
}

.slim-video-information-title-and-badges {
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.slim-video-metadata-title-modern {
  font-family: "Roboto","Arial",sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.modern-panel-with-inline-badge-subtitle {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  white-space: pre;
}

.slim-video-information-show-more {
  margin-left: 8px;
  height: 16px;
  display: block;
}

.modern-panel-with-inline-badge-subtitle .secondary-text {
  -webkit-mask-image: -webkit-gradient(linear,left top,right top,color-stop(90%,rgb(0,0,0)),to(rgba(0,0,0,0)));
  -webkit-mask-image: -webkit-linear-gradient(left,rgb(0,0,0) 90%,rgba(0,0,0,0) 100%);
  mask-image: -webkit-gradient(linear,left top,right top,color-stop(90%,rgb(0,0,0)),to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to right,rgb(0,0,0) 90%,rgba(0,0,0,0) 100%);
}

.slim-video-metadata-information-inline-badge {
  padding: 4px 4px 0;
}
.slim-video-information-title {
  -webkit-line-clamp: initial;
  max-height: none;
}

.slim-video-metadata-header .slim-video-information-content.slim-video-information-empty-badge {
  padding-top: 16px;
}