header {
  height: 48px;
}
.header-contanter {
    position: fixed;
    padding: 0;
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}
.header-contanter .header-topbar {
    position: relative;
    z-index: 3;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
}